body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    background-image: url("img_tree.gif")
}

header {
    background-color: #2d00f6;
    color: white;
    padding: 10px 0;
    text-align: center;
    background-image:url("Pablo.jpg");

}

header .profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px 0;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #0f0202;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h2 {
    color: #0202f7;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.project {
    background-color: #eee;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
}

.contact-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.contact-button:hover {
    transition: ease-in-out;

}